*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/
/app/prod/release/
/split-bill-api/.idea/
/split-bill-api/bin
/split-bill-api/bin/
/split-bill-api/build/
/split-bill-frontend/node_modules/
/split-bill-api/data/build/
/split-bill-api/api/build/
/split-bill-api/common/build/
/split-bill-frontend/node_modules