*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/.gitignore
/.idea/.name
/app/src/test/java/com/example/splitbill/ExampleUnitTest.kt
/app/src/androidTest/java/com/example/splitbill/ExampleInstrumentedTest.kt
/.idea/vcs.xml
/.idea/codeStyles/codeStyleConfig.xml
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/codeStyles/Project.xml
/app/prod/release/
/split-bill-api/build/tmp/bootJar/MANIFEST.MF
/split-bill-api/build/tmp/jar/MANIFEST.MF
/split-bill-api/.idea/vcs.xml
/split-bill-api/.idea/.name
/split-bill-api/bin
/split-bill-api/bin/
/split-bill-api/build/
/split-bill-api/.idea/
/.idea/deploymentTargetDropDown.xml
/split-bill-frontend/node_modules/
/split-bill-api/data/build/
/split-bill-api/api/build/
/split-bill-api/common/build/
