:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-bg: #fce3f4;
  --color-primary : #722968;
  --color-secondary: #5b0666;
  --color-accent: #1ebd7b;
}


.app {
  display: flex;
  position: relative;
  flex-direction: column;
}

.floating-action-button {
  position: relative;
  bottom: 16px;
  right: 16px;
}

